html,body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #020434;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.error{
  display: block;
  color: red;
  margin-left: 35%;
}
