.h3-home{
    padding: 1%;
    margin: 1%;
}

.strong-home{
    color:crimson;
}

.width-fix{
    max-width: 100%;
}

.menuimg{
    margin: 2%;
    max-width: 10% !important;
    
}

.menuimg-wishlist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10% !important;
}
.sidebar-article{
    background: #e6e6eb;
}

.sidebar-img{
    max-width: 100%;
}

.sidebar-h1{
    font-size: 150%;
    font-weight: bold;
}
